#comment {
    width: 100%;
    height: 500px;
    background-color: #414141;
}
#comment .list {
    display: flex;
    flex-direction: column;
}
#comment .list span {
    padding: 10px;
    background-color: #fff;
    margin: 10px;
}
#comment input {
    width: 50%;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
}