/* test */
#section3 {
    height: 100vh;
    display: flex;
    z-index: 100;
    flex-direction: column;
    overflow: hidden;
}

.intro-wrap {
    overflow: hidden;
}

.photo_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.intro-wrap .p1,
.intro-wrap .p2,
.intro-wrap .p3 {
    width: 100%;
    height: 100vh;
    font-family: var(--zeno);
    font-size: 9vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about_photos_img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vw 200px;
    position: relative;
}

.p1 .about_photos_img {
    background-color: #FFF5F5;
}

.p2 .about_photos_img {
    background-color: #FEFFF5;
}

.p3 .about_photos_img {
    background-color: #f7f5ff;
}

.about_photos_img>p {
    font-family: var(--zeno);
    font-size: 9vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 0.9;
}

.about_photos_img .photo {
    width: 4vw;
    height: 5.7vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
}

.about_photos_img .photo {
    background-image: url(../img/about_img1.jpg);
}

.p1 .about_photos_img .photo {
    background-image: url(../img/about_img1.jpg);

}

.p3 .about_photos_img .photo {
    background-image: url(../img/about_img1.jpg);
}


.intro-wrap .intro {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}





@media (max-width: 1000px) {
    .photo_wrap .photo:nth-last-child(-n+2) {
        display: none;
    }

    .about_photos_img {
        padding: 7vw;
    }

    .about_photos_img .photo {
        width: 7vw;
        height: 9.7vw;
    }
}

@media (max-width: 650px) {
    .about_photos_img {
        padding: 20vw 7vw;
    }

    .about_photos_img .photo {
        width: 10vw;
        height: 13vw;
    }
}

@media (max-width: 479px) {
    .about_photos_img {
        padding: 30vw 10vw;
    }

    .about_photos_img .photo {
        width: 12vw;
        height: 16vw;
    }
}