#works {
    width: 100%;
    height: calc(532vh - 400px);
    background-color: #0F0F0F;
}


.section_slider {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 100;
}

.works_start {
    margin-top: -100px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/works_start.png);
    background-size: cover;
    background-position: center center;
    position: -webkit-sticky;
    position: sticky;
    top: -90vh;
}

.work {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    border-radius: 5vw;
    position: -webkit-sticky;
    position: sticky;
}

.work.w1 {
    background-image: url(../img/works1.jpg);
    margin-top: -100px;
    top: 0;
}

.work.w2 {
    background-image: url(../img/works2.jpg);
    top: 10vh;
}

.work.w3 {
    background-image: url(../img/works3.jpg);
    top: 20vh;
}

.work.w4 {
    background-image: url(../img/works4.jpg);
    top: 30vh;
}

.work .works_nav {}

.work .works_nav a {
    position: absolute;
    top: 15%;
    right: 30px;
    font-family: var(--pre);
    font-weight: bold;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 0 30px;
    z-index: 10001;
}

.work .works_nav a:hover {
    color: var(--black500);
}


.work .top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);
}

.work .top h2 {
    font-family: var(--pre);
    font-weight: 500;
    font-size: 6vw;
    display: inline-block;
    line-height: 0.6;
    padding-top: 20px;
    margin-top: 2.5vw;
    letter-spacing: -.3vw;
}

.work .top span {
    display: inline-block;
    font-family: var(--pre);
    font-size: 1vw;
    padding-left: 25px;
    line-height: 1;
}

.work .desc {
    padding-top: 80px;
    padding-left: 35px;
    color: var(--white);
    font-size: 1.2vw;
    line-height: 1.2;
    font-family: var(--pre);
}

.work .copyright {
    padding-top: 20vw;
    text-align: right;
    padding-right: 5px;
    color: var(--white);
    font-size: 1.2vw;
    font-family: var(--pre);
}

@media (max-width: 1000px) {
    #works {
        height: calc(370vh - 400px);
    }

    .works_start {
        height: 60vh;
    }

    .work {
        height: 70vh;
    }

    .work .top h2 {
        font-weight: 600;
    }
}

@media (max-width: 650px) {
    #works {
        height: calc(320vh - 400px);
    }

    .works_start {
        height: 50vh;
    }

    .work {
        height: 60vh;
    }

    .work .works_nav a {
        top: 2%;
        right: 15px;
        padding: 0 15px;
        border-radius: 5px;
        font-size: 3vw;
    }

    .work .desc {
        font-size: 2vw;

    }

    .work .top span {
        display: none;
    }

    .work .copyright {
        display: none;
    }
}

@media (max-width: 479px) {
    #works {
        height: 185vh;
    }

    .works_start {
        height: 40vh;
    }

    .work {
        height: 40vh;
    }

    .work .desc {
        text-align: center;
        color: var(--black500);
        font-size: 3vw;
        padding: 80px 35px;
        word-break: keep-all;
    }

}